.issuesTitle {
    margin-left: 8px;
    font-weight: bold;
}

.issuesTitle a {
    color: #111827;
    text-decoration: none;
}

.issuesTitle a:hover {
    color: #0265d6;
}

.issuesTitleDetails {
    font-size: 12px;
    font-weight: normal;
    margin-top: 8px;
    color: #374151;
}