*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" ;
  color: #111827;
}

a {
  color: #0265d6;
  text-decoration: none;
}

.container {
  max-width: 54rem;
  margin: 32px auto;
}

nav {
  background: #24292f;
  padding: 20px 60px;
}

nav a {
  color: white;
}

nav a:hover {
  color: lightgray;
}

svg {
  fill: currentColor;
}